




<html>
<head>
    <title></title>
</head>
<body>
    <h1>Original Component</h1>
    <img src="/home/GetImageOwnComponent" />
    <h1>Third-party Component</h1>
    <img src="/home/GetImageThirdPartyComponent" />
</body>
</html>
