<configuration>   
   <runtime>
      <assemblyBinding 
         xmlns="urn:schemas-microsoft-com:asm.v1">

         <dependentAssembly>
            <assemblyIdentity name="VersionedPhotoAlbum" 
               publicKeyToken="e79f3eb79bb2bf0a"
               culture=""/>
              
            <bindingRedirect oldVersion="1.0.0.0"
               newVersion="2.0.0.0"/>

         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
