
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Success!</h1>
    <h2>Your password has been changed successfully!</h2>
    <a asp-controller="Home" asp-action="Index">Go Back</a>
</body>
</html>